<div class="container" style="padding-top: 50px;">

    <h1 style="color: #2E8B57;">
      🌿 Address Overview
      <small style="display: block; color: #777; font-size: 18px;">
        View details about a WorldLand Account
      </small>
    </h1>
  
    <div id="address-{{addressId}}" class="addressdiv" style="margin-top: 30px;">
      <table class="table table-bordered" style="width: 100%; background-color: #f0fdf4;">
        <thead style="background-color: #4CAF50; color: white;">
          <tr>
            <th colspan="2">{{addressId}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 30%; font-weight: bold;">Balance (WLC)</td>
            <td>{{balanceInEther}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Balance (Wei)</td>
            <td>{{balance}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
  