<div class="container" style="padding-top: 50px;">

    <h1 style="color:#2E8B57;">
      📦 Block Details
      <small style="display: block; font-size: 18px; color: #777;">Explore information about a WorldLand block</small>
    </h1>
  
    <div id="block-{{blockId}}" class="blockdiv" style="margin-top: 30px;">
      <table class="table table-bordered" style="width: 100%; background-color: #f9fdf9;">
        <thead style="background-color: #4CAF50; color: white;">
          <tr>
            <th colspan="2"><a class="hash-link" href="./#/block/{{blockId}}">{{hash}}</a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Block Number</td>
            <td><a href="./#/block/{{blockNumber}}">{{number}}</a></td>
          </tr>
          <tr>
            <td>⏱️ Received Time</td>
            <td>{{timestamp}}</td>
          </tr>
          <tr>
            <td>🧮 Difficulty</td>
            <td>{{difficulty}}</td>
          </tr>
          <tr>
            <td>🔢 Nonce</td>
            <td>{{nonce}}</td>
          </tr>
          <tr>
            <td>📦 Size</td>
            <td>{{size}}</td>
          </tr>
          <tr>
            <td>⛏️ Miner</td>
            <td><a href="./#/address/{{miner}}">{{miner}}</a></td>
          </tr>
          <tr>
            <td>⛽ Gas Limit</td>
            <td>{{gasLimit}}</td>
          </tr>
          <tr>
            <td>📝 Extra Data</td>
            <td>{{extraData}}</td>
          </tr>
          <tr>
            <td>🌐 Decoded Data</td>
            <td>{{dataFromHex}}</td>
          </tr>
          <tr>
            <td>🔐 Codeword</td>
            <td>{{codeword}}</td>
          </tr>
          <tr>
            <td>📊 Codeword (Bits)</td>
            <td style="word-break: break-all;">{{codewordBits}}</td>
          </tr>
          <tr>
            <td>📏 Code Length</td>
            <td>{{codelength}}</td>
          </tr>
        </tbody>
      </table>
  
      <div style="text-align:right; margin-bottom: 20px;">
        <button class="btn btn-success">{{gasUsed}} Gas Used</button>
        <button class="btn btn-info">{{conf}} Confirmations</button>
      </div>
    </div>
  
    <h2 style="margin-top: 40px; color:#2E8B57;">
      🔄 Transactions
      <small style="font-size: 18px; color: #777;">Included in this block</small>
    </h2>
  
    <div ng-repeat="tx in transactions">
      <table class="table table-striped" style="background-color: #f5fffa;">
        <thead>
          <tr>
            <th colspan="2">Transaction #{{$index+1}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>🔗 Hash</td>
            <td><a href="./#/transaction/{{tx.hash}}">{{tx.hash}}</a></td>
          </tr>
          <tr>
            <td>📤 From</td>
            <td><a href="./#/address/{{tx.from}}">{{tx.from}}</a></td>
          </tr>
          <tr>
            <td>📥 To</td>
            <td><a href="./#/address/{{tx.to}}">{{tx.to}}</a></td>
          </tr>
          <tr>
            <td>⛽ Gas</td>
            <td>{{tx.gas}}</td>
          </tr>
          <tr>
            <td>📨 Input</td>
            <td>{{tx.input}}</td>
          </tr>
          <tr>
            <td>💰 Value</td>
            <td>{{tx.value}}</td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>
  
  </div>
  